<!DOCTYPE html>
<html>
<head>
	<title>PESQUISA DE ESTOQUE</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
	<div id="teste">
	    <h1>Apuração da Pesquisa de Estoques</h1>
		<div id="menu"> 
			<a href="/brasil">Brasil</a> |
			<a href="/uf">Unidade da Federação</a> |
			<a href="/tufs">Todas UFs</a> |
			<a href="/ufcheck">Escolher UFs</a> |
                </div>
		<div>
		    <h> Brasil</h>
		    <p> Apuração da tabulação da pesquisa em nível de Brasil</p>
		    <h> Unidade de Federação</h>
		    <p> Apuração da tabulação da pesquisa em nível de Unidade da Federação</p>
		    <h> Todas Ufs</h>
		    <p> Esta função gera uma apuração da situação de coleta de silo bag<br></p>
                    <h> Apuração da tabulação da pesquisa para todas as Unidades da Federação<</h>
		    <h> Apuração da tabulação da pesquisa para as Unidades da Federação escolhidas<</h>			
		 </div>
         </div>
  
</body>