<!DOCTYPE html>
<html>
<head>
	<title>PESQUISA DE ESTOQUES</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
	<div id="teste">
	    <h>Programa da Pesquisa de Estoques </h>
	    <img src="{{url_for('static', filename='img/silo.jpg')}}" align="middle" />
		<div id="menu"> 
			<a href="/tabulacao">TABULAÇÃO</a> |
			<a href="/apuracao">APURAÇÃO</a> |
                </div>
        </div>
  
</body>
</html>