<!DOCTYPE html>
<html>
<head>
	<title>APURAÇÃO PROVISÓRIA</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
	<div id="teste">
	    <h1>Programa - Apuração Provisória</h1>
	    <div>
		<form action="/provisoria_exec" method="POST" >
        	<fieldset>  
          	<div>
           	<label for="semestre">SEMESTRE</label>
            	  <select  name="SEMES" value="submit">
                	<option value="{{"PRIMEIRO"}}">Primeiro</option>
                	<option value="{{"SEGUNDO"}}">Segundo</option>
             	  </select>
          	</div>

                <div>
                  <label for="ANO">ANO</label>
                   <select name="SANO">
                    {% for ano in lano %}
                        <option value="{{ano}}">{{ano}}</option>
                    {% endfor %}
                      
                   </select>
                </div>
                <div>
                  <label for="MÊS">MÊS</label>
                   <select name="SMES">
                    {% for mes in lmes %}
                        <option value="{{mes}}">{{mes}}</option>
                    {% endfor %}
                      
                    </select>
                </div>
		<button type="submit" >Rodar</button>
                </form>
	    </div>
        </div>
  
</body>
</html>