<!DOCTYPE html>
<html>
<head>
	<title>PESQUISA DE ESTOQUE</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
	<div id="teste">
	    <h1>Programa da Pesquisa de Estoques</h1>
		<div id="menu"> 
			<a href="/provisoria">Apuração Provisória</a> |
			<a href="/ranking">Ranking municipal</a> |
			<a href="/silo_bag">Silo Bag</a> |
                        <a href="/mapas">Mapas</a> |
			<a href="/web">Coleta Web</a> |
                </div>
		<div>
		    <h> Apuração Privisória</h>
		    <p> Esta função gera uma estatística com algumas variáveis para se acompanhar <br>
			o andamento da coleta.</p>
		    <h> Ranking municipal</h>
		    <p> Esta função gera o ranking municipal por capacidade de armazéns convencional, <br>
			silo, granelizado e total</p>
		    <h> Silo Bag</h>
		    <p> Esta função gera uma apuração da situação de coleta de silo bag<br></p>
		    <h> Mapas</h>
		    <p> Esta função gera os cartogramas municipais e informações visuais que resumem a <br>
			coleta por tipo de armazenagem e por produto.</p>
		    <h> Coleta Web</h>
		    <p> Esta função gera os estabelecimentos que tiveram coleta web <br> </p>
		</div>
        </div>
  
</body>
</html>